$baseFontFamily: "Radio Canada", sans-serif;
$base: 400;
$displayFontFamily: "Bebas Neue", sans-serif;
$light: 300;
$base: 500;

$menuColor: red;
$activeColor: blue;
$accentColor: #5438dc;
$primaryColor: #dc0073;

$gutter: 16px;
